# 1. 忽略所有文件和文件夹
*

# 2. 取消忽略所有目录
!*/

# 3. 取消忽略 .py 文件
!*.py

# 4. 取消忽略 readme 文件（处理常见情况：README, Readme, readme，以及带扩展名的）
![Rr]eadme
![Rr]eadme.*

# 5. 重新忽略所有以 '_' 开头的目录 (文件夹)
# 因为第2步取消了所有目录的忽略，需要重新排除以 '_' 开头的文件夹
_*/

# 6. 取消忽略 .png 文件
!*.png

# 7. 取消忽略 字体文件
!*.ttf